---
layout: layouts/basee.njk
title: Projects
description: Here are some of my projects. 
---
<h2>Projects</h2>
<h3>Listen Lab Website</p>
<p>I created a website for LISTEN Lab which is a YPAR Research Project that I was a part of for 3 years at UCSD. This website holds our lesson plans and is teacher facing: https://listenlab.ucsd.edu/</p>
<h3>EAOP Website</p>
<p> I also helped create the EAOP website to help bring more workshops to underprivileged schools: https://sites.google.com/ucsd.edu/eaop/home</p>
