---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
    <loc>https://https://cse134hw-5.netlify.app/</loc>
</url>
<url>
    <loc>https://https://cse134hw-5.netlify.app/about/</loc>
</url>
<url>
    <loc>https://https://cse134hw-5.netlify.app/projects/</loc>
</url>
</urlset>
